/vendor/
/node_modules/
/public/hot
/public/storage
/storage/*.key
/bootstrap/cache/*.php
/.env
/.env.backup
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/.idea/
/.vscode/
/.DS_Store
/public/mix-manifest.json
/public/css/
/public/js/
*.log
composer.phar
php_errors.log
php-cs-fixer.phar
.php-cs-fixer.cache
.phpunit.cache
